/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: APISCRIPTS_GETLINEAGEODBS {
        ext.args = {
            params.odb_versions.tokenize(',').collect { v -> "--odb_version ${v}" }.join(' ') +
            (meta.taxid ? " --taxid ${meta.taxid}" : "") +
            (meta.lineage ? (" --extra_lineages " + meta.lineage.tokenize(',').join(' ')) : "") +
            " " +
            meta.mode.tokenize(',').collect { v -> "--mode ${v}" }.join(' ')
        }
    }

    withName: "BUSCO_BUSCO" {
        // Obey "use_work_dir_as_temp", except for large genomes
        scratch = { !params.use_work_dir_as_temp || (meta.genome_size < 2000000000) }
        ext.args = '--force'
    }

    withName: "RESTRUCTUREBUSCODIR" {
        ext.prefix = { "${meta.id}.${lineage}" }
        publishDir = [
            path: {
                (meta.outdir
                    ? ((meta.outdir.startsWith("/") ? "" : params.outdir + "/") + meta.outdir)
                    : params.outdir) + "/busco"
            },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".html") ? filename : null }
        ]
    }

}
